/**
 * Site Header
 */
.site-header {
  border-bottom: 1px solid _palette(charcoal-light-75);
  padding-bottom: 0.6em;
  padding-top: 0.6em;

  .palette-dark & {
    border-bottom-color: _palette(charcoal-light-7);
  }
}

.site-header-inside {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-branding {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;

  a {
    border: 0;
    color: inherit !important;
  }
}

.site-logo {
  margin: 0;

  img {
    height: 48px;
    width: 48px;
    border-radius: 6px;
  }
}

.site-title {
  color: #fff;
  font-size: 1.22222em;
  font-weight: bold;
  line-height: 1.1;
  margin: 0;
  text-transform: uppercase;

  a {
    background: _palette(accent);
    display: inline-block;
    padding: 0.2em 0.45em;

    .accent-green & {
      background: _palette(accent-green);
    }

    .accent-blue & {
      background: _palette(accent-blue);
    }

    .accent-violet & {
      background: _palette(accent-violet);
    }

    .accent-yellow & {
      background: _palette(accent-yellow);
    }
  }
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-item {
  font-size: 16px;
  line-height: 1.2;

  &.current-menu-item {
    color: _palette(accent);

    .accent-green & {
      color: _palette(accent-green);
    }

    .accent-blue & {
      color: _palette(accent-blue);
    }

    .accent-violet & {
      color: _palette(accent-violet);
    }

    .accent-yellow & {
      color: _palette(accent-yellow);
    }
  }

  a {
    &:not(.button) {
      border: 0;
      color: inherit;

      &:hover {
        color: _palette(accent);

        .accent-green & {
          color: _palette(accent-green);
        }

        .accent-blue & {
          color: _palette(accent-blue);
        }

        .accent-violet & {
          color: _palette(accent-violet);
        }

        .accent-yellow & {
          color: _palette(accent-yellow);
        }
      }
    }
  }
}

#menu-open,
#menu-close {
  background: 0;
  border: 0;
  color: inherit;
  height: 30px;
  padding: 0;
  position: relative;
  width: 30px;

  &:hover,
  &:focus,
  &:active {
    outline: 0;
  }
}

@media only screen and (min-width: 801px) {
  .menu-toggle {
    display: none;
  }

  .site-navigation {
    margin-left: auto;
  }

  .menu {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .menu-item {
    margin-left: 25px;

    .button {
      padding: 0.275em 0.5em;
    }
  }
}

@media only screen and (max-width: 800px) {
  .site-header {
    &:after {
      background: rgba(_palette(charcoal), 0.6);
      content: '';
      height: 100vh;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      -webkit-transition: opacity 0.25s, visibility 0s 0.25s;
      transition: opacity 0.25s, visibility 0s 0.25s;
      visibility: hidden;
      width: 100%;
      z-index: 998;

      .palette-dark & {
        background: rgba(_palette(charcoal-dark-15), 0.6);
      }
    }
  }

  #menu-open {
    display: block;
    margin-left: auto;
  }

  .site-navigation {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #fff;
    box-sizing: border-box;
    bottom: 0;
    margin: 0;
    max-width: 360px;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    right: -100%;
    top: 0;
    -webkit-transition: right 0.3s cubic-bezier(0.65, 0.05, 0.36, 1), visibility 0s 0.3s;
    transition: right 0.3s cubic-bezier(0.65, 0.05, 0.36, 1), visibility 0s 0.3s;
    visibility: hidden;
    width: 100%;
    z-index: 999;

    .palette-dark & {
      background: _palette(charcoal);
    }
  }

  .site-nav-inside {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: relative;
  }

  #menu-close {
    display: block;
    position: absolute;
    right: 3vw;
    top: 1rem;
  }

  .menu {
    padding: calc(2em + 30px) 3vw 3.33333em;
  }

  .menu-item {
    border-top: 1px solid _palette(charcoal-light-75);
    display: block;

    .palette-dark & {
      border-top-color: _palette(charcoal-light-7);
    }

    &:not(.menu-button):last-child {
      border-bottom: 1px solid _palette(charcoal-light-75);

      .palette-dark & {
        border-bottom-color: _palette(charcoal-light-7);
      }
    }

    a {
      display: block;

      &:not(.button) {
        padding: 0.75em 0;
      }
    }
  }

  .menu-button {
    padding: 1em 0;

    & + .menu-button {
      border-top: 0;
      padding-top: 0;
    }

    .button {
      padding-left: 0.5em;
      padding-right: 0.5em;
    }
  }

  .menu--opened {
    overflow: hidden;

    .site-header {
      &:after {
        opacity: 1;
        -webkit-transition: opacity 0.25s;
        transition: opacity 0.25s;
        visibility: visible;
      }
    }

    .site-navigation {
      right: 0;
      -webkit-transition: right 0.3s ease;
      transition: right 0.3s ease;
      visibility: visible;
    }
  }
}

.Header {
  margin: 1em 0 0 0;
}

.Header-top {
  grid-template-columns: minmax(auto, 1024px);
  display: grid;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: relative;
  padding: 1em 0 0 0;
}

.Header-top img {
  width: 64px;
  height: 64px;
}

.Header-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
}

.Header-content h1 {
  font-weight: 700;
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 0.875;
  text-transform: uppercase;
  margin: 0;
}

.Header-content p {
  text-transform: uppercase;
  color: #272c30;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.25;
  margin: 0 0 2rem;
}

.Header-items {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: 800px) {
    & {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}

.Header-item {
  display: flex;
  margin: 2rem 0 0 0;

  img {
    width: 48px;
    height: 48px;
    margin: 0 1em 0 0;
    padding: 0;
  }

  h2 {
    font-size: clamp(1.2rem, 1vw + 0.5rem, 1.5rem);
    // font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: -0.03em;
    padding: 0 2em 0 0;
    line-height: 1;
    text-transform: uppercase;
    text-align: left;
  }

  span {
    display: block;
    text-align: left;
    font-size: 0.85rem;
    font-weight: 500;
    letter-spacing: 1px;
  }

  p {
    display: block;
    text-align: left;
    font-size: 0.85rem;
    font-weight: 500;
    letter-spacing: 2px;
  }

  @media only screen and (max-width: 800px) {
    & {
      flex-direction: column;
      align-items: center;
    }

    img {
      padding: 0;
      margin: 0;
    }

    h2 {
      padding: 0;
      text-align: center;

      & span {
        text-align: center;
        margin: 0.5rem 0;
      }
    }

    p {
      text-align: center;
    }
  }
}

.Header-title a {
  text-decoration: none;
  color: #272c30;
}
